In [2]:
# tuple
# immutable
# list index
mytuple = (10,20)
mytuple[0]

10

In [3]:
# 2 function only 
mytuple = (10,20,10,10)
mytuple.count(10)

3

In [4]:
mytuple.index(10) # to give index position of a element (first occurence)

0

In [ ]:
#dictonary
# stored in form of key value pair
# dictonary => no index
# key:value
# key => unique
# value => unique / duplicate
# ordered collection of element

In [12]:
mydictionary = {10:"yash",11:"aman" , "salary":80}
# to access a element pass key istead of index
mydictionary[10]
# to update a value in dictonary for key 10
mydictionary[10] = "naina"
# if key not present insert otherwise update 
mydictionary[12] = "raj"
mydictionary["salary"] =  mydictonary["salary"] + 5
print(mydictionary["salary"])

85

In [13]:
print(mydictionary.keys())
print(mydictionary.values())
print(mydictionary.items())

dict_keys([10, 11, 'salary', 12])
dict_values(['naina', 'aman', 85, 'raj'])
dict_items([(10, 'naina'), (11, 'aman'), ('salary', 85), (12, 'raj')])

In [18]:
mydictionary = {10:"yash",11:"aman" , "salary":80}
for i in mydictionary:
    print(i,mydictionary[i])

10 yash
11 aman
salary 80

In [20]:
mydictionary = {10:"yash",11:"aman" , "salary":80}
for i in mydictionary.keys():
    print(i,mydictionary[i])

10 yash
11 aman
salary 80

In [25]:
s = "hey"
mydictionary = {}
for i in s:
    mydictionary[i] = 1
print(mydictionary)

{'h': 1, 'e': 1, 'y': 1}

In [30]:
# to count number of characters in s and store in dict in {total:10} form
s = "helllo hey"
mydict = {} 
total = 0
for i in s:
    total += 1
mydict["total"] = total
print(mydict)

{'total': 10}

In [32]:
s = "regx a"
mydict = {}
for i in s:
    if(i == "a" or i == "e" or i == "o" or i == "u"):
        mydict[i] = 1
print(mydict)

{'e': 1, 'a': 1}

In [35]:
s = "hey hello abhi"
mydict = {}
for i in s:
    if(i in "aeiou"):
        if(i not in mydict):
            mydict[i] = 1 # insert
        else:
            mydict[i] = mydict[i] + 1 # update 
print(mydict)

{'e': 2, 'o': 1, 'a': 1, 'i': 1}

In [10]:
# to check if string is a anagram
# s = raj    rja jra jar
# Approach check each character and its count in the 2 string using dictionary
s = "raj"
t = "jar"
dict1 = {}
dict2 = {}
for i in s:
    if(i in dict1):
        dict1[i] = dict1[i] + 1
    else:
        dict1[i] = 1
for i in t:
    if(i in dict2):
        dict2[i] = dict2[i] + 1
    else:
        dict2[i] = 1
if(dict1 == dict2):
    print("anagram")
else:
    print("Not a anagram")

anagram

In [ ]:
# List Comphrension : summarised form to create new list
# better readability of code

In [11]:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# set => datatype mutiple values are stored
# contain all immutable values
# set has all unique elements
# set is mutable datatype 
# set are unordered

In [12]:
myset = set({})
print(type(myset))

<class 'set'>

In [13]:
myset = {1,2,3,4,5,6,1,1,3,100} 
print(myset)

{1, 2, 3, 4, 5, 6, 100}

In [14]:
myset.add(99) # to add element in set
print(myset)

{1, 2, 3, 4, 5, 6, 100, 99}

In [15]:
myset.remove(2) # to remove a element
print(myset)

{1, 3, 4, 5, 6, 100, 99}

In [23]:
myset = {1,2,3}
myset.update(["hey"])
print(myset)

{1, 2, 3, 'hey'}

In [27]:
# to combine result between two or more sets
myset1 = {1,2,4}
myset2 = {56,57,3,8,4}
print(myset1.union(myset2))
print(myset1.intersection(myset2))

{1, 2, 3, 4, 8, 56, 57}
{4}

In [33]:
# difference
# is superset
# is disjoint
myset1 = {1,2,4}
myset2 = {56,57,3,8}
print(myset1.difference(myset2))
print(myset1.isdisjoint(myset2))
print(myset1.issuperset(myset2))

{1, 2, 4}
True
False

In [39]:
# dictionary comphrenhesion
{i:1 for i in "hello"}

{'h': 1, 'e': 1, 'l': 1, 'o': 1}

In [38]:
# set comphrenhesion
{i for i in range(0,5)}

{0, 1, 2, 3, 4}

In [4]:
# Check if a number is a palindrome

num = int(input("Enter a number: "))
original = num
temp = 0

while (num > 0):
    digit = num % 10
    temp = temp * 10 + digit
    num = num // 10

if (original == temp):
    print("palindrome")
else:
    print("not a palindrome")

Enter a number:  12345

not a palindrome